<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://appmobteam2014.github.io//" class="btn">HOME</a>
  <a href="http://uin-suska.ac.id//" class="btn">UINSUSKA</a>
  <a href="http://sif.uin-suska.ac.id/" class="btn">SISTEM INFORMASI</a>
  <a href="https://github.com/appmobteam2014" class="btn">GITHUB</a>
  <a href="https://www.facebook.com/groups/1556918901205726/" class="btn">Facebook</a>
  
</section>
